<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SmartCare - Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

  <!-- Navbar -->
  <div class="navbar">
    <!-- Vùng trái -->
    <div class="navbar-left">
      <img src="../static/img/logo.png" alt="Logo" class="logo-img">
      <span class="logo-text">SmartCare</span>
    </div>

    <!-- Vùng phải -->
    <div class="navbar-right">
      <img src="/static/img/bell.png" alt="Notifications" class="nav-icon">
      
      <div class="user-profile">
        <img src="/static/img/user.png" alt="User" class="nav-icon">
        <div class="user-info">
          <span class="user-name" id="userName">Loading...</span>
          <span class="user-role" id="userRole">role</span>
        </div>
      </div>

      <img src="/static/img/settings.png" alt="Settings" id="btn-settings" class="nav-icon" style="cursor: pointer;" title="Quản lý Hệ thống">
      <img src="/static/img/logout-icon.png" alt="Logout" id="logoutBtn" class="nav-icon" style="cursor: pointer;" title="Log out">
    </div>
  </div>

  <!-- Nội dung -->
  <div class="content">
    <h2>Welcome to SmartCare Dashboard</h2>
    <p>Here will display sensor values, device status, and more...</p>
    <div id="field-summary-container" class="field-cards-grid">
        </div>
    <p style="margin-top: 1000px;">Scroll test content...</p>
    <!-- Hộp hiển thị thông báo -->
    <div id="result"></div>
    <div id="dynamic-charts-container" style="margin-top: 30px;">
</div>
  </div>

  <!-- JS xử lý logout -->
  <script src="../static/js/home.js"></script>
</body>
</html>