<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCare Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    <div style="display: none;">
        <h3>Danh sách Field:</h3>
        <ul id="field-list"></ul>
        <pre id="telemetry-list"></pre>
    </div>

    <nav class="navbar">
        <div class="nav-logo">
            <i class="fa-solid fa-leaf"></i> SmartCare
        </div>
        <div class="nav-actions">
            <button id="logoutBtn" class="btn-logout">Log out</button>
            <div class="nav-icons">
                <i class="fa-regular fa-bell"></i>
                <i class="fa-regular fa-user"></i>
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>

    <div class="main-container">
        
        <div class="dashboard-title">DASHBOARD</div>

        <div class="tabs-container" id="field-tabs">
            </div>

        <div class="action-bar">
            <button id= "goToDashboard" class = "btn-action btn-back">
                <i class="fa-solid fa-rotate-left"></i> Back
            </button>
            
            <div class="info-pill" style="display: flex; align-items: center; gap: 15px;">
                <button id="btn-prev-field" class="btn-nav"><i class="fa-solid fa-chevron-left"></i></button>
                <span>Name: <strong id="current-field-name">Đang tải...</strong></span>
                <button id="btn-next-field" class="btn-nav"><i class="fa-solid fa-chevron-right"></i></button>
            </div>

            <button id ="ControlBtn" class="btn-action btn-control">
                <i class="fa-solid fa-wifi"></i> Control
            </button>
        </div>

        <div id="dynamic-devices-container"></div>

    </div>

    <script src="/static/js/dashboard.js"></script>
</body>
</html>